body {
  text-align: center;
}

html {
  width: 100%;
}

p {
  font-size: 30px;
  margin-top: 40px;
}

img {
  border-radius: 50%;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 80px;
  letter-spacing: 15px;
  font-weight: bold;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 60px;
  letter-spacing: 6px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 80px;
  letter-spacing: 15px;
  font-weight: bold;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  margin-top: 30px;
  color: #ff165d;
}

h5 {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  margin-top: 30px;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.blue-section {
  background-color: #3ec1d3;
  color: #f6f7d7;
}

.yellow-section {
  background-color: #ff9a00;
  color: #ff165d;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-item {
  padding: 0 18px;
}

/* Header Section */
#header-img {
  margin-top: 0;
}

.cactus-img {
  width: 20%;
  margin-top: 60px;
}

.cat {
  margin-top: 7%;
}

/* Fashion Section */
.fashion-subtitle {
  font-weight: bold;
}

iframe {
  margin-top: 30px;
}

/* Shop Section */
.outfit-description {
  font-size: 25px;
  color: #ff165d;
  font-style: bold;
}

.pricing {
  margin-top: 5%;
  border-style: solid;
  border-color: #f6f7d7;
  margin-left: 2%;
  margin-right: 2%;
}

.buy {
  margin-bottom: 5%;
}

/* Contact Section */
form {
  text-align: left;
}

#submit {
  margin-top: 20px;
}

.btn-pink {
  background-color: #ff165d;
  color: #ff9a00;
}

/* Footer Section */
.author, .vector {
  font-size: 20px;
  color: #687980;
}

.vector {
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2% 15
}

/* Media Queries */
@media (max-width: 770px) {
  .navbar {
    width: 55px;
    position: absolute;
    left: 90%;
  }

  .navbar-brand {
    display: none;
  }
}
